---
import AnimatedAnchor from "@/components/AnimatedAnchor.astro";
import ImageMod from "@/components/ImageMod.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";

const sectionData = await getListPage("descriptionSection", "description");
if (!sectionData.data.enable) {
  return null;
}

const {
  title,
  bg_image,
  description,
  image,
  button,
  id,
  explanation,
  embedVideoId,
} = sectionData.data;
---

<section class="section" id={id}>
  <div class="container">
    <div class="relative overflow-hidden rounded-2xl p-7 md:p-10 lg:p-16">
      <div
        class="flex flex-col justify-start items-center relative text-center z-10 lg:gy-0"
      >
        <div class="lg:col-5">
          <div class="min-h-full pb-16">
            <div>
              <h2
                set:html={markdownify(title)}
                class="has-gradient mb-6"
                data-aos="fade-up-sm"
              />
              <div data-aos="fade-up-sm" data-aos-delay="50">
                <div
                  set:html={markdownify(description)}
                  class="text-2xl/[inherit]"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="" data-aos="fade-right-sm" data-aos-delay="150">
          {
            button.enable && (
              <AnimatedAnchor
                className="btn-primary "
                link={button.link}
                label={button.label}
                data-aos="fade-up-sm"
                data-aos-delay="100"
              />
            )
          }
        </div>
        <div data-aos="fade-up-sm">
          <div
            class="[&_ul]:list-disc [&_ul]:list-inside [&_ul]:pt-8 [&_li]:pt-4 text-center [&_h5]:pt-16 content"
            set:html={markdownify(explanation, true)}
          />
        </div>
      </div>
      <div data-aos="fade-up-sm">
        <div class="flex flex-row justify-center pt-16">
          <iframe
            width="560"
            height="315"
            src=`https://www.youtube.com/embed/${embedVideoId}`
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
